* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Global */

:root {
    --discount-label-color: #EB0037;
    --sustainability-label-color: #00875A;
    --like-dimensions: 1.5rem;
    --description-font-size: 0.8rem;
}


/**********
    Body
**********/

.products {
    text-align: center;
}

.product {
    display: inline-block;
}

.product-image {
    width: 15rem;
    height: 20rem;
    background-size: cover;
    background-position: center;
    position: relative;
}

.like {
    width: var(--like-dimensions);
    height: var(--like-dimensions);
    background-color: white;
    position: absolute;
    right: 0;
    top: 0.5rem;
}

.labels {
    position: absolute;
    left: 0;
    bottom: 0.5rem;
}

.label {
    display: inline-block;
    color: white;
    padding: 0.4rem;
    font-weight: bold;
}

.discount {
    background-color: var(--discount-label-color);
}

.sustainability {
    background-color: var(--sustainability-label-color);
}

.product-description {
    text-align: left;
    margin: 0.3rem 0;
    font-size: var(--description-font-size);
}


/* .brand {
    font-size: 0.8rem;
} */

.product-name {
    font-weight: bolder;
}

.discounted-price {
    color: red;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
}

.img-relaxed-levi {
    background-image: url("./img/1b.webp");
    ;
}

.img-relaxed-levi:hover {
    background-image: url("./img/1b.webp");
    ;
}