* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Global */

:root {
    --discount-label-color: #00875A;
    --sustainability-label-color: #EB0037;
}


/**********
    Body
**********/

.products {
    text-align: center;
}

.product {
    display: inline-block;
}

.product-image {
    width: 15rem;
    height: 20rem;
    background-size: cover;
    background-position: center;
}

.img-relaxed-levi {
    background-image: url(/img/1.webp);
}

.img-relaxed-levi:hover {
    background-image: url(/img/1b.webp);
}